@font-face {
    font-family: "Squartiqa4F";
    src: url("Squartiqa4F.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aspal";
    src: url("Aspal.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.cabeca{

    display: flex;
    font-family: "Squartiqa4F";
    font-size: 5rem; 
    color: black;
    justify-content: center;
    margin-bottom: -20px;
}
.cabeca img {
    height: 30px ;
    width: 30px;
    margin-top: 5px;
}

.titulo{
    font-size: 4rem;
    }

.sec{
    font-family: "Squartiqa4F";
    font-size: 2rem;
    color: black;
}

.corpgr{
    font-family: "Squartiqa4F";
    font-size: 1.2rem;
    padding: 3px 9px 50px 9px;
    background-color: #000;
    color: white;
    border-radius: 2px;
    position: absolute;
    margin-top: 30px;
}

.corpo{
    font-family: "Aspal";
    font-size: 1.2rem;
}
.sobrepor{
    margin-top: -10px ;
    position: relative;
    top: 60px;
    margin-bottom: 50px ;
}
.form-control{
    border-width: 3px;
    border-color: black;
    border-radius: 0px;
    padding: 0.375rem 0.5rem 0.1rem 0.375rem;
    transition: border-color 1.15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:hover{
    border-color: rgb(138, 1, 1);
    box-shadow: 0px 0px 5px rgb(138, 1, 1)  ;
    transition: border-color .65s ease-in-out,box-shadow 1.15s ease-in-out;}

.form-control:focus{
    border-color: rgb(138, 1, 1);
    box-shadow: 0px 0px 5px rgb(138, 1, 1)  ;
    transition: border-color .65s ease-in-out,box-shadow 1.15s ease-in-out, background-color .35s ease-in-out;}

.form-select{
    border-width: 3px;
    border-color: black;
    border-radius: 0px;
    padding: 0.375rem 0.5rem 0.1rem 0.375rem;
    width: 196px;
    display: inline-flex;
    margin-top: 0px;
}

.corponum{
    font-family: "Squartiqa4F";
    font-size: 1.2rem;
    width: 50px;
    display: inline;
    margin:3px 12px 0px 12px ;
    background-color: #000;
    color: #fff;
    box-sizing: content-box;
}

.corpgrnum{
    font-family: "Squartiqa4F";
    font-size: 1.2rem;
    padding: 3px 10px 50px 10px;
    background-color: #fff;
    color: #000;
    position: absolute;
    margin-top: 30px;
    border: 3px solid black;
    width: 75px;
    box-sizing: border-box;

}

.bordadiv{
    border: 5px solid black;
    margin-top: 30px;
    padding: 10px 5px 40px 10px;
}

.coluna {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.pericias{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 0 0 3px;
}
.pericias i{
    font-size:  0.8rem;
}

.form-controlP{
    border: 3px solid black;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 30px;
    height: 1.2rem;
    background-color: rgba(0, 0, 0, 0.1);
    width: 40px;
}

.form-labelP{
padding-top: 2px;
width: 20px;
font-family: 'Times New Roman', Times, serif;

}

.cinza{
    background-color: #000;
    color: #fff;
    border-radius: 3px;
}

.cinza .form-controlP{
    border: 3px solid white;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 30px;
    height: 1.2rem;
    background-color: rgba(125, 125, 125, 0.5);
    width: 40px;
    color: white;
}

.secNvl{
    display: flex ;
    width: fit-content;}

.nivel{
    margin-left: 5px;
    font-family: "Squartiqa4F";
    font-size: 2rem;
    border-radius: 50%;
    background-color: #000;
    height: 55px;
    width: 55px;
    margin-top: -8px;
}

.secNvl .form-control{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 2rem;
   padding-top: 2.6px;
   margin-left: 7px;
   box-shadow: none;
}

.diminuir .form-control{
    width: 400px;
}


.form-labelA{
padding-top: 2px;
width: 20px;
font-family: "Squartiqa4F";
font-size: 2rem;

}

.form-controlA{
    height: 80px;
    background-color: rgba(0, 0, 0, 1);
    width: 80px;
    color: white;
    border: none;
}

.vt{
    background-color: #b7053e;
    border-radius: 5px;
}

.sn{
    background-color: #93076d;
    border-radius: 5px;
}

.es{
    background-color: #4b0793;
    border-radius: 5px;
}
.maxmin{
    font-family: "Squartiqa4F";
    font-size: 1.5rem;
    color: black;
}

/* Container principal */
        .rating-container {
            display: flex;
            /* Inverte a ordem visual para que o seletor CSS funcione da direita para a esquerda */
            flex-direction: row-reverse; 
            justify-content: flex-end;
            gap: 5px; /* Espaço entre as bolinhas */
        }

        /* Esconde os radio buttons originais */
        .rating-container input[type="radio"] {
            display: none;
        }

        /* Estilo base da bolinha (vazia) */
        .rating-container label {
            width: 25px;
            height: 25px;
            border: 3px solid black;
            border-radius: 50%; /* Faz virar um círculo */
            background-color: white; /* Meio branco */
            cursor: pointer;
            transition: background-color 0.2s;
        }

        /* LÓGICA MÁGICA:
           Quando um input é "checked" (clicado), selecionamos:
           1. O próprio label associado (+ label)
           2. Todos os labels que vêm depois dele no HTML (~ label)
           
           Como usamos row-reverse, os que vêm "depois" no HTML são os visuais "anteriores".
        */
        .rating-container input[type="radio"]:checked + label,
        .rating-container input[type="radio"]:checked ~ label {
            background-color: black;
        }

        /* (Opcional) Efeito de hover para pré-visualizar a seleção */
        .rating-container label:hover,
        .rating-container label:hover ~ label {
            background-color: #bababa; /* Um cinza para indicar hover */
        }
        .rating-wrapper{
            padding-bottom: 5px;
        }
        .rating-container h1{
            font-family: "Aspal";
             font-size: 1.5rem;
             font-weight:700;
             color: black;
        }
        .painel-controle {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            background: rgba(255, 255, 255, 0.9);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            display: flex;
            gap: 10px;
        }
        
        /* Esconde os botões na hora de imprimir (CTRL+P) */
        @media print {
            .painel-controle { display: none !important; }
        }