@font-face {
    font-family: "Squartiqa4F";
    src: url("Squartiqa4F.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aspal";
    src: url("Aspal.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.sec{
    font-family: "Squartiqa4F";
    font-size: 2rem;
}

.corpgr{
    font-family: "Squartiqa4F";
    font-size: 1.2rem;
    padding: 3px 9px 50px 9px;
    background-color: #000;
    color: white;
    border-radius: 2px;
    position: absolute;
    margin-top: 30px;
}

.corpo{
    font-family: "Aspal";
    font-size: 1.2rem;
}
.sobrepor{
    margin-top: -10px ;
    position: relative;
    top: 60px;
    margin-bottom: 50px ;
}
.form-control{
    border-width: 3px;
    border-color: black;
    border-radius: 0px;
    padding: 0.375rem 0.5rem 0.1rem 0.375rem;
    transition: border-color 1.15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:hover{
    border-color: rgb(138, 1, 1);
    box-shadow: #f96e6e ;
    transition: border-color 1.15s ease-in-out,box-shadow .15s ease-in-out;}

.form-select{
    border-width: 3px;
    border-color: black;
    border-radius: 0px;
    padding: 0.375rem 0.5rem 0.1rem 0.375rem;
    width: 48%;
    display: inline-flex;
    margin-top: 0px;
}

.corponum{
    font-family: "Squartiqa4F";
    font-size: 1.2rem;
    width: 50px;
    display: inline;
    margin:3px 12px 0px 12px ;
    background-color: #000;
    color: #fff;
    box-sizing: content-box;
}

.corpgrnum{
    font-family: "Squartiqa4F";
    font-size: 1.2rem;
    padding: 3px 10px 50px 10px;
    background-color: #fff;
    color: #000;
    position: absolute;
    margin-top: 30px;
    border: 3px solid black;
    width: 75px;
    box-sizing: border-box;

}

.bordadiv{
    border: 5px solid black;
    margin-top: 30px;
    padding: 10px 5px 40px 5px;
}